# Среды окружения Python
.env
.env.local
.venv/
venv/
env/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных
*.sqlite3
postgres_data/

# Инструменты разработчика
.vscode/
.idea/
.DS_Store

# Файл-"маска" кода проекта (создан с помощью скрипта export_skeleton.py)
docs/scopus_project_mask.txt

# Прочие файлы кэша:
# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff 
.ruff_cache/

#.import-linter_cache
.import_linter_cache/

# Coverage
.coverage
htmlcov/