# Среды окружения Python
.env
.venv/
venv/
env/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных
*.sqlite3
postgres_data/

# Инструменты разработчика
.vscode/
.idea/
.DS_Store

# Прочие файлы кэша:
.pytest_cache/
.solid-cache

# Mypy
.mypy_cache/

# Ruff 
.ruff_cache/

#.import-linter_cache
.import_linter_cache/

# Coverage
.coverage
htmlcov/

# solid_dashboard.egg-info
**/*.egg-info/

# SOLID Verifier build artifacts
tools/solid_verifier/build/


# SOLID Verifier logs
tools/solid_verifier/**/*.log
**/*.log

# SOLID grimp_adapter cache
**/*.grimp_cache